PORT=3000
DATABASE_URL=postgres://postgres:{SENHA_DO_BANCO_DE_DADOS}@localhost:{PORTA_DO_BANCO_DE_DADOS}/{NOME_DO_BANCO_DE_DADOS}
JWT_SECRET=chave-secreta-32-caracteres++
JWT_EXPIRES_IN=tipos aceitos: 24h, 1h, 1m, 1s
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development | production | staging
